<div id="mainRow" [style.height.px]="height" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center">
    <h1 class="mat-h1">Kullanıcı Girişi</h1>
    <form fxFlexFill (ngSubmit)="onLogin(f)" #f="ngForm">
      <mat-form-field>
        <input 
          type="email"
          matInput
          required
          email
          ngModel
          id="email"
          name="email"
          placeholder="E-Mail Adresiniz">
          <mat-error *ngIf="f.hasError('required', 'email')">* Lütfen e-mail adresinizi girin</mat-error>
          <mat-error *ngIf="f.hasError('email', 'email')">* Lütfen geçerli bir e-mail adresi girin</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input 
          type="password" 
          name="password" 
          id="password"
          placeholder="Şifreniz"
          matInput
          required
          ngModel  >
          <mat-error *ngIf="f.hasError('required', 'email')">* Lütfen şifrenizi girin</mat-error>
      </mat-form-field>
      <mat-error *ngIf="loginError.error_description === 'Bad credentials'">Kullanıcı adı veya şifre yanlış!</mat-error>
      <br>
      <div id="btnRow" fxLayout="row" fxLayoutGap="2rem">
        <button fxFlex="25" mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Giriş</button>
        <button fxFlex="25" mat-raised-button color="warn" type="button" (click)="onCancel()">Vazgeç</button>
      </div>
    </form>
  </div>
</div>
