mat-card {
    background-color: #19191a;
    margin-bottom: 2rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: #c1c1c1;
}

.card-icon {
    margin-right: 1rem;
    margin-left: 2rem;
}

mat-icon {
    color: #ee2b84;
}

#eventName {
    margin-left: 2rem;
}

h1 {
    color: #c1c1c1;
    margin-top: 2rem;
}

.attend-button {
    font-size: 1rem;
  }

  i {
    color: #ee2b84;
  }
