<div fxLayout="row" fxLayoutAlign="center start">
  <span fxFlex="15" fxFlex.gt-md="25"></span>
  <div fxFlex="70" fxFlex.gt-md="50" fxLayout="column">
    <h1 class="mat-h1">{{ editMode ? 'Mekan Düzenleme' : 'Yeni Mekan Ekle' }}</h1>
    <form (ngSubmit)="onSave()" [formGroup]="form">
      <mat-form-field fxFlexFill>
        <input 
          type="text"
          matInput
          id="name"
          formControlName="name"
          placeholder="Mekan Adı">
        <mat-error *ngIf="form.hasError('required', 'name')">* Mekan ismi gerekli</mat-error>
        <mat-error *ngIf="form.hasError('maxLength', 'name')">* Mekan ismi çok uzun</mat-error>  
      </mat-form-field>
      <br>
      <mat-form-field fxFlexFill>
        <textarea 
          name="address" 
          id="address" 
          cols="30" 
          rows="3"
          formControlName="address"
          matInput
          placeholder="Adres"></textarea>
          <mat-error *ngIf="form.hasError('required', 'address')">* Adres gerekli</mat-error>
          <mat-error *ngIf="form.hasError('maxLength', 'address')">* Adres çok uzun</mat-error>
      </mat-form-field>
      <br>
      <div fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field>
          <input 
            type="text"
            matInput
            formControlName="latitude"
            placeholder="Latitude"
            id="latitude">
          <mat-error *ngIf="form.hasError('required', 'latitude')">* Latitude gerekli</mat-error>
          <mat-error *ngIf="form.hasError('pattern', 'latitude')">* Latitude sadece sayı olabilir</mat-error>  
        </mat-form-field>
        <mat-form-field>
          <input 
            type="text"
            matInput
            formControlName="longitude"
            placeholder="longitude"
            id="longitude">
          <mat-error *ngIf="form.hasError('required', 'longitude')">* Longitude gerekli</mat-error>
          <mat-error *ngIf="form.hasError('pattern', 'longitude')">* Longitude sadece sayı olabilir</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="city" placeholder="Şehir">
            <mat-option *ngFor="let city of cityList" [value]="city.value">{{ city.viewValue }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required', 'city')">* Şehir gerekli</mat-error>
        </mat-form-field>
      </div>
      <input 
        type="file"
        id="image"
        accept="image/*"
        (change) = "changeListener($event)">
      <img [src]="this.image.dataUrl" alt="Görsel">
      <div fxLayout="row" fxLayoutGap="3rem">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Kaydet</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Vazgeç</button>
      </div>
    </form>
  </div>  
  <span fxFlex="15" fxFlex.gt-md="25"></span>

</div>