<mat-toolbar *ngIf="isAdminView() || authService.isAdmin();else notAdmin" color="primary">
  <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
    <h1 class="mat-h1">Dinomik Admin Panel</h1>
    <button mat-button [matMenuTriggerFor]="admin" [disabled]="!authService.isAdmin()">Admin</button>
    <mat-menu #admin="matMenu">
      <button mat-menu-item routerLink="/admin/events">Etkinlikler</button>
      <button mat-menu-item routerLink="/admin/artists">Sanatçılar</button>
      <button mat-menu-item routerLink="/admin/venues">Mekanlar</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="website">Dinomik</button>
    <mat-menu #website="matMenu">
      <button mat-menu-item routerLink="/">Anasayfa</button>
      <button mat-menu-item routerLink="/sanatcilar">Sanatçılar</button>
      <button mat-menu-item routerLink="/mekanlar">Mekanlar</button>
    </mat-menu>
    <span class="fill"></span>
    <button *ngIf="authService.isAdmin()" mat-button type="button" (click)="onLogout()">
      <h4 class="mat-h4">Çıkış</h4>
    </button>
  </div>
</mat-toolbar>
<ng-template #notAdmin>
<div fxLayout="row">
  <a id="logoLink" routerLink="/"><img id="logo" src="../../assets/photos/logo/logo.png" alt="Dinomik"></a>
  <span fxFlex="20"></span>

  <div fxFlex="60" fxLayout="row" fxLayoutAlign="start end">
    <nav mat-tab-nav-bar color="primary">
      <a
        mat-tab-link
        *ngFor="let link of links"
        (click)="activeLink = link"
        [active]="activeLink == link"
        [routerLink]="link.url"><h1 class="mat-h1">{{ link.name }} </h1> 
      </a>
      <mat-divider [vertical]="true"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="start end">
        <mat-form-field>
          <input 
          id="search"
          type="text"
          placeholder="Etkinlik Ara"
          matInput
          [(ngModel)]="searchValue"
          [value]="searchValue"
          (keyup.enter)="onSearch($event.target.value)">
        </mat-form-field>
        <button id="searchBtn" mat-icon-button color="primary" (click)="onSearch(searchValue)">
          <mat-icon>search</mat-icon>
        </button>  
      </div>
    </nav>
  </div>
  <span fxFlex="20"></span>
</div>
</ng-template>


