<div fxLayout="row">
  <a routerLink="/"><img id="logo" src="../../assets/photos/logo/logo.jpg" alt="Dinomik"></a>
  <span fxFlex="20"></span>

  <div fxFlex="60" fxLayout="row" fxLayoutAlign="start end">
    <nav mat-tab-nav-bar color="primary">
      <a
        mat-tab-link
        *ngFor="let link of links"
        (click)="activeLink = link"
        [active]="activeLink == link"
        [routerLink]="link.url"><h1 class="mat-h1">{{ link.name }} </h1> 
      </a>
      <mat-divider [vertical]="true"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="start end">
        <mat-form-field>
          <input 
          id="search"
          type="text"
          placeholder="Etkinlik Ara"
          matInput
          [(ngModel)]="searchValue"
          [value]="searchValue"
          (keyup.enter)="onSearch($event.target.value)">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="onSearch(searchValue)">
          <mat-icon>search</mat-icon>
        </button>  
      </div>
    </nav>
  </div>
  <span fxFlex="20"></span>
  <h4 *ngIf="this.authService.isAuthenticated();else elseBlock" class="mat-h4">Hoşgeldin, {{ user.firstName }} {{ user.lastName }} </h4>
</div>
