fa {
  margin-right: 2rem;
}



/*#facebook {*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*margin-right: -50%;*/
  /*transform: translate(-50%, -50%);*/
/*}*/


#facebookBtn {
  background-color: #3b5998;
  min-width: 7rem;
  min-height: 7rem;
}

mat-dialog-content {
  margin-bottom: 1rem;
}

i {
  color: white;
}


