<h2 mat-dialog-title align="center">Facebook ile Giriş Yap</h2>
<mat-dialog-content class="mat-typography">
    <div id="facebook" *ngIf="!authService.isAuthenticated();" fxLayout="row" fxLayoutAlign="center">
      <button id="facebookBtn" mat-raised-button type="submit" (click)="onLogin()"><i class="fa fa-4x fa-facebook"></i></button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFill>
      <h4 class="mat-h4">Giriş yapmadan devam et</h4>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" fxFill>
      <button mat-fab color="primary" mat-dialog-close><mat-icon>arrow_forward</mat-icon></button>
    </div>
</mat-dialog-actions>




