<div fxLayout="column">
  <div fxLayout="row">
    <h1 class="mat-h1">Facebook Login</h1>
  </div>
  <div *ngIf="!authService.isAuthenticated();else elseBlock;" fxLayout="row">
    <button mat-raised-button color="primary" type="submit" (click)="onLogin()">Login</button>
    <fa name="cog" animation="spin"></fa>
  </div>
  <ng-template #elseBlock>
    <div fxLayout="row">
      <h4>Welcome!</h4>
    </div>
    <div fxLayout="row">
      <button mat-raised-button color="warn" type="button" (click)="onLogout()">Logout</button>
    </div>
  </ng-template>
</div>
