<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="20" fxLayoutAlign="start center">
    <h1 class="mat-h1">Yeni Üye</h1>
    <form fxFlexFill (ngSubmit)="onRegister()" [formGroup]="form">
      <div fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field>
          <input 
            type="text"
            matInput
            formControlName="firstName"
            placeholder="Adınız">
          <mat-error *ngIf="form.hasError('required', 'firstName')">* Lütfen adınızı yazın.</mat-error>
          <mat-error *ngIf="form.hasError('maxLength', 'firstName')">* Adınız en fazla 50 karakter olabilir.</mat-error>
          <mat-error *ngIf="form.hasError('pattern', 'firstName')">* Adınız sadece harf içerebilir.</mat-error>  
        </mat-form-field>
        <mat-form-field>
          <input 
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Soyadınız">
          <mat-error *ngIf="form.hasError('required', 'lastName')">* Lütfen soyadınızı yazın.</mat-error>
          <mat-error *ngIf="form.hasError('maxLength', 'lastName')">* Soyadınız en fazla 50 karakter olabilir.</mat-error>
          <mat-error *ngIf="form.hasError('pattern', 'lastName')">* Soyadınız sadece harf içerebilir.</mat-error>  
        </mat-form-field>        
      </div>
      <div fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Cinsiyetiniz">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Doğum Tarihiniz" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [panelClass]="dino-class" #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input 
          type="email"
          matInput
          formControlName="email"
          placeholder="E-Mail">
        <mat-error *ngIf="form.hasError('required', 'email')">* Lütfen e-mail adresinizi yazın.</mat-error>
        <mat-error *ngIf="form.hasError('email', 'email')">* Lütfen geçerli bir e-mail adresi girin.</mat-error>
        <mat-error *ngIf="form.hasError('emailExists', 'email')">* Bu e-mail adresiyle zaten bir hesap var.</mat-error>
      </mat-form-field>
      <br>
      <div formGroupName="passwords">
        <mat-form-field>
          <input 
            type="password"
            matInput
            formControlName="password"
            placeholder="Şifreniz">
          <mat-error *ngIf="form.get('passwords.password').hasError('required')">* Lütfen bir şifre yazın.</mat-error>
          <mat-error *ngIf="form.get('passwords.password').hasError('minLength')">* Şifreniz en az 6 karakter uzunluğunda olabilir.</mat-error>
          <mat-error *ngIf="form.get('passwords.password').hasError('maxLength')">* Şifreniz en fazla 30 karakter uzunluğunda olabilir.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input 
            type="password"
            matInput
            formControlName="confirmPassword"
            placeholder="Tekrar şifrenizi yazın">
          <mat-error *ngIf="form.get('passwords.confirmPassword').hasError('NoPassMatch')">* Şifreler birbiriyle aynı değil.</mat-error>  
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="3rem">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Kayıt Ol</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Vazgeç</button>
      </div>
    </form>
  </div>
</div>
