.avatar{
    background-size: cover;
}

mat-card {
    margin-top: 3rem;
    background-color: black;
}

mat-card-header {
    margin-bottom: 2rem;
}

table {
    background-color: black;
}

.mat-h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.mat-card-avatar{
    height: 12rem;
    width: 12rem;
}

mat-icon {
  color: whitesmoke;
}

mat-paginator {
  background-color: black;
}

mat-form-field {
  margin-right: 1rem;  
}

.table-icon{
  color: #ee2b84;
}

button {
    margin-right: 1rem;
}

mat-option {
  background-color: #19191a;
}

agm-map {
  height: 10rem;
}