table {
  background-color: black;
}

agm-map {
  height: 20rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#mainRow {
  margin-top: 3rem;
}

h3 {
  margin-top: 1rem;
}

mat-paginator {
  background-color: black;
}

#filter {
  margin-right: 2rem;
}

mat-option {
  background-color: black;
}

input {
  color: #c1c1c1;
}

mat-divider {
  margin-bottom: 1rem;
}

mat-icon {
  margin-right: 1rem;
  color: #ee2b84;
}

* {
  letter-spacing: 2px;
}