<div [style.height.px]="height" fxLayout="row">
  <span fxFlex="25"></span>  
  <div fxLayout="column" fxFlex="50">
    <div id="titleRow" fxLayout="row" fxLayoutAlign="center">
      <h1 class="mat-h1">Arkadaşlarım</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="start end">
      <mat-form-field>
        <input 
          id="search"
          type="text"
          placeholder="Kullanıcı Ara"
          matInput
          [(ngModel)]="searchValue"
          [value]="searchValue"
          (keyup.enter)="onSearch($event.target.value)">
      </mat-form-field>
      <button id="searchBtn" mat-icon-button color="primary" (click)="onSearch(searchValue)">
        <mat-icon>search</mat-icon>
      </button>
      <span style="flex: 1 1 auto;"></span>
      <button *ngIf="!showFriends" (click)="onShowFriends()" color="primary"><label class="mat-body">Arkadaşları Göster</label></button>
    </div>
    <h2 class="mat-h2" *ngIf="!showFriends">Arama Sonuçları: </h2>
    <div *ngIf="showFriends;else searchResults">
      <div class="friends-row" fxLayout="row" fxLayoutGap="5%"  *ngFor="let row of friends">
        <mat-card fxFlex="20" *ngFor="let friend of row">
          <img mar-card-image [src]="friend.image" alt="Image">
          <div fxLayout="row">
            <a [routerLink]="['kullanicilar', friend.id]"><h2 class="mat-h2">{{ friend.firstName }} {{friend.lastName}}</h2></a>
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button color="primary" (click)="onRemoveFriend(friend.id)">
              <mat-icon>clear</mat-icon>
              <label class="mat-body">Arkadaşlıktan Çıkar</label>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
    
    <ng-template #searchResults>
      <div class="friends-row" fxLayout="row" fxLayoutGap="5%" *ngFor="let row of searchFriends">
        <mat-card fxFlex="20" *ngFor="let friend of row">
          <img mat-card-image [src]="friend.image" alt="Image">
          <div fxLayout="row">
            <a [routerLink]="['kullanicilar', friend.id]"><h2 class="mat-h2">{{ friend.firstName }} {{friend.lastName}}</h2></a>
          <span style="flex: 1 1 auto;"></span>
          <button id="alreadyFriend" mat-flat-button *ngIf="userService.isFriend(friend.id);else notFriend">
            <mat-icon>how_to_reg</mat-icon>
            <label class="mat-body">Arkadaşsınız</label>
          </button>
          <ng-template #notFriend>
            <button type="button" mat-raised-button color="primary" (click)="onAddFriend(friend)">
              <mat-icon>person_add</mat-icon>
              <label class="mat-body">Ekle</label>
            </button>
          </ng-template>
          </div>
        </mat-card>
      </div>
    </ng-template>
  </div>
  <span fxFlex="25"></span>  

</div>