input {
    color: #c1c1c1;
  }
  
  #searchBtn{
      margin-bottom: 1rem;
  }

  #titleRow {
      margin-top: 2rem;
  }

  #alreadyFriend {
      color: #0ddb4e
  }

  mat-card {
      background-color: #19191a;
  }
  mat-card img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

  
  a {
      text-decoration: none;
      color: #c1c1c1;

  }