<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <div class="sidenav-container" fxLayout="column" *ngIf="authService.isAuthenticated();else notLoggedIn">
      <div fxLayout="row">
        <img *ngIf="hasPhoto; else noPhoto" id="profilePic" [src]="pictureUrl" alt="image">  
        <ng-template #noPhoto>
          <button mat-icon-button type="button" (click)="photoInput.click()">
            <mat-icon>add_a_photo</mat-icon>
          </button>
          <input 
            type="file" 
            (change)="onPhotoSelected($event)"
            #photoInput
            hidden
            accept="image/*">
        </ng-template>
        <h2 class="mat-h2">Hoşgeldin, <b>{{ user.firstName }}</b></h2>
      </div>
      <mat-divider></mat-divider>
      <a (click)="sidenav.toggle()" routerLink="/kaydedilenler"><h3 class="mat-h3">Kaydedilenler</h3></a>
      <a (click)="sidenav.toggle()" routerLink="/gidilecekler"><h3 class="mat-h3">Gidilecekler</h3></a>
      <a (click)="sidenav.toggle()" routerLink="/sevilen-sanatcilar"><h3 class="mat-h3">Sanatçılar</h3></a>
      <a (click)="sidenav.toggle()" routerLink="/arkadaslar"><h3 class="mat-h3">Arkadaşlar</h3></a>
      <mat-divider></mat-divider>
      <button id="logout" mat-flat-button (click)="sidenav.toggle();authService.logout()"><mat-icon id="logoutIcon">power_settings_new</mat-icon>Çıkış Yap</button> 
    </div>
    <ng-template #notLoggedIn>
      <div class="sidenav-container" fxLayout="column">
        <h2 class="mat-h2">Hoşgeldin!</h2>
        <mat-divider></mat-divider>
        <button id="login" mat-flat-button (click)="sidenav.toggle();onRegisterLogin()">Giriş Yap / Kayıt Ol</button> 
      </div>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row" style="width: 100%;">
      <app-header style="width: 100%;" [fxFlex]="headerWidth"></app-header>
      <span style="flex: 1 1 auto;"></span>
      <div *ngIf="!isAdminView()" fxLayout="column" fxLayoutAlign="end end"  fxFlex="10">
        <button id="menu" color="primary" mat-fab (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>      
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

