h1.mat-h1 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  
}

h3 {
  color: whitesmoke;
}

h4.mat-h4 {
  color: whitesmoke;
}

.fill-remaining-space {

  flex: 1 1 auto;

}

mat-sidenav {
  background-color: #19191a;
}

mat-sidenav-content {
  background-color: black;
}

mat-divider {
  margin-bottom: 1rem;
}

.sidenav-container {
  margin: 3rem;
  text-align: center;
}

a {
  text-decoration: none;
}

#login {
  background-color: #19191a;
}

#logout {
  background-color: #19191a;
  text-align: center;
}

#logoutIcon {
  margin-right: 1rem;
}

#menu {
  margin-right: 1rem;
}

#profilePic {
  margin-right: 1rem;
}

