h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #c1c1c1;
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: #c1c1c1;

}

mat-card {
  
    background-color: #19191a;
}

mat-icon, i {
    color: #ee2b84;
}

#eventRow {
    margin-bottom: 2rem;
}

#headerRow {
    width: 100%;
}

mat-divider {
    width: 100%;
    margin-bottom: 2rem;
    /* border-top-color: #ee2b84; */

}