<div fxLayout="row" fxLayoutAlign="center">
  <span fxFlex="15" fxFlex.gt-lg="25"></span>
  <div fxFlex="70" fxFlex.gt-lg="50" fxLayout="column" fxLayoutAlign="start center">
    <h1 class="mat-h1">Dinomik Admin Paneli</h1>
    <mat-divider></mat-divider>
    <div class="card-row" fxLayout="row">
      <a fxFlex="30" class="card-option" routerLink="/admin/events">
        <mat-card>
          <h2 class="mat-h2">Etkinlikler</h2>
          <mat-divider></mat-divider>
          <p class="mat-body">Yeni etkinlik ekleme, etkinlikleri düzenleme ve silme</p>
        </mat-card>
      </a>
      <a fxFlex="30" class="card-option" routerLink="/admin/venues">
        <mat-card>
          <h2 class="mat-h2">Mekanlar</h2>
          <mat-divider></mat-divider>
          <p class="mat-body">Yeni mekan ekleme, mekanları düzenleme ve silme</p>
        </mat-card>
      </a>
      <a fxFlex="30" class="card-option" routerLink="/admin/artists">
        <mat-card>
          <h2 class="mat-h2">Sanatçılar</h2>
          <mat-divider></mat-divider>
          <p class="mat-body">Yeni sanatçı ekleme, sanatçıları düzenleme ve silme</p>
        </mat-card>
      </a>
    </div>
  </div>
  <span fxFlex="15" fxFlex.gt-lg="25"></span>
</div>
