<div id="mainRow" fxLayout="row">
  <span fxFlex="5"></span>
  <img fxFlex="20" [src]="event.artists[0].image" alt="Image">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row">
      <h1 class="mat-h1">{{ event.name }}</h1>      
    </div>
    <div class="info-row" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>today</mat-icon>
      <h2 class="mat-h2 date">{{ event.dateView }}</h2>
      <h2 class="mat-h2 date">{{ event.dayOfWeek }}</h2>
    </div>
    <div class="info-row" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>access_time</mat-icon>
      <h2 class="mat-h2">Kapı Açılış: {{ event.time }}</h2>
    </div>
    <div class="info-row" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>location_city</mat-icon>
      <a [routerLink]="['mekanlar', event.venue.id ]"><h2 class="mat-h2">{{ event.venue.name }}</h2></a>
    </div>
  </div>
  <div fxFlex="20" fxLayout="column">
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXZldeyz95hs?si=Cm2SFBVzTNKDNkh5FaUQtw" 
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            height="300"></iframe>
  </div>
</div>
