<div id="mainRow" fxLayout="row">
  <span fxFlex="25"></span>
  <div fxLayout="column" fxFlex="50">
    <div id="card-row" fxLayout="row" *ngFor="let row of objectArray">
      <mat-card fxFlex="50" fxFlex.gt-md="33" fxFlex.gt-lg="20" *ngFor="let artist of row">
        <mat-card-header>
          <mat-card-title>
            <mat-card-title><a [routerLink]="artist.id">{{ artist.name }}</a></mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <img class="card-img" mat-card-image [src]="artist.image" [alt]="artist.name">
      </mat-card>
      <span fxFlex.gt-lg="80"></span>
    </div>        
  </div>
  <span fxFlex="25"></span>
</div>
