h1 {
  color: #c1c1c1;
}

a {
  text-decoration: none;
  color:  #c1c1c1;
}

img {
  bottom: 0;
}

#mainRow {
  margin-top: 3rem;
}

#expanded {
  overflow: hidden;
  margin-bottom: 1.5rem;
}

table {
  background-color: black;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-paginator {
  background-color: black;
}

#filter {
  margin-right: 2rem;
}

mat-option {
  background-color: #19191a;
}

input {
  color: #c1c1c1;
}

mat-divider {
  margin-bottom: 1rem;
}

mat-icon {
  margin-right: 1rem;
  color: #ee2b84;
}


mat-card {
  background-color: #19191a;
}


/* 
.card-img{
  width: 10rem;
  height: 3rem;
} */
