<div id="mainRow" fxLayout="row">
  <span fxFlex="30"></span>
  <div fxLayout="column" fxFlex="40">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let artist"><b>{{ artist.name }}</b></td>
      </ng-container>
      <ng-container matColumnDef="expandedArtist">
        <td mat-cell *matCellDef="let artist" [attr.colspan]="displayedColumns.length">
          <div id="expanded" fxLayout="column" [@detailExpand]="artist == expandedArtist ? 'expanded' : 'collapsed'" >
            <img [src]="artist.image" [alt]="artist.name">
            <a [routerLink]="artist.id" routerLinkActive="router-link-active" ><h4 class="mat-h4">{{ artist.name }}</h4></a> 
          </div>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let artist; columns: displayedColumns;" (click)="expandedArtist = artist"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedArtist']" style="height:0;"></tr>
    </table>      
  </div>
  <span fxFlex="30"></span>
</div>
