h1 {
  color: #c1c1c1;
}

a {
  text-decoration: none;
  color:  #c1c1c1;
}

mat-card + mat-card {
  margin-left: 1.5rem; 
}

img {
  bottom: 0;
}

#mainRow {
  margin-top: 3rem;
}

#cardRow {
  margin-bottom: 1.5rem;
}
/* 
.card-img{
  width: 10rem;
  height: 3rem;
} */
