/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

.dino-dialog  >
    mat-dialog-container, mat-calendar {
        background-color: #19191a;
    }

    .mat-dialog-container {
        overflow: hidden;
    }
    
* {
    letter-spacing: 2px;
}

.mat-menu-content {
    background-color: #19191a;   
}