  <!-- <div id="monthRow" fxLayout="row" fxLayoutAlign="center">
    <h1 class="mat-h1">{{date | date:'MMMM' }}</h1>
  </div> -->
<div id="headerRow" fxLayout="row" fxLayoutAlign="center start">
  <h1 class="mat-h1">{{ currentMonth }}</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
  <span fxFlex="25"></span>
  <div fxLayout="column" fxFlex="50">
    <cdk-virtual-scroll-viewport id="infiniteScroll" itemSize="3">
    <div id="eventRow" fxLayout="row" fxLayoutGap="5%" *ngFor="let row of events">
      <mat-card fxFlex="30" *ngFor="let event of row">
        <img mat-card-image [src]="event.artists[0].image" alt="image">
        <mat-card-content fxLayout="column" fxLayoutGap="1px">
          <h2 class="mat-h2">{{ event.name }}</h2>
          <br>
          <div fxLayout="row"> 
            <h3 class="mat-h3">{{ event.date }}</h3>
            <span style="flex: 1 1 auto;"></span>
            <h3 class="mat-h3">{{ event.time }}</h3>
          </div>
          <h4 class="mat-h4">{{ event.venue.name }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <span fxFlex="25"></span>
</div>