<div id="headerRow" fxLayout="row" fxLayoutAlign="center center">
  <button mat-icon-button color="primary" (click)="onPrevClick(currentMonth.value, genres.value, cities.value)" [disabled]="!hasPrev()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h1>{{ currentMonth.name }}</h1>
  <button mat-icon-button color="primary" (click)="onNextClick(currentMonth.value, genres.value, cities.value)">
      <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
  <span fxFlex="5" fxFlex.gt-xs="15" fxFlex.gt-lg="25"></span>
  <div fxLayout="column" fxFlex="90" fxFlex.gt-lg="50">
    <div id="filterRow" fxLayout="row" fxLayoutGap="3rem">
      <mat-form-field>
        <mat-select [formControl]="genres" multiple placeholder="Tür Seç">
          <mat-option *ngFor="let genre of genreList" [value]="genre.id">{{ genre.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-select [formControl]="cities" multiple placeholder="Şehir Seç">
            <mat-option *ngFor="let city of cityList" [value]="city.value">{{ city.viewValue }}</mat-option>
          </mat-select>
      </mat-form-field>
      <span style="flex: 1 1 auto;"></span>
      <button id="filterBtn" mat-flat-button (click)="onFilter(genres.value, cities.value)">
        <i class="fa fa-2x fa-filter"></i> Filtrele
      </button>
    </div>
    <div id="eventRow" fxLayout="row" fxLayoutGap="5%" *ngFor="let row of events">
      <mat-card fxFlex="90" fxFlex.gt-xs="45"  fxFlex.gt-md="30" *ngFor="let event of row">
        <img mat-card-image [src]="event.image" alt="image">
        <mat-card-content fxLayout="column" fxLayoutGap="1px">
          <div fxLayout="row" fxLayoutAlign="start center">
              <a [routerLink]="['etkinlikler', event.id]"><h2 id="eventName">{{ event.name }}</h2></a>
              <span style="flex: 1 1 auto;"></span>          
              <div *ngIf="authService.isAuthenticated()" fxLayout="row">
                  <button mat-icon-button *ngIf="userService.isSavedEvent(event.id);else notSaved" (click)="userHttpService.deleteSavedEvent(event.id)"><mat-icon>bookmark</mat-icon></button>
                  <ng-template #notSaved>
                    <button mat-icon-button (click)="userHttpService.addSavedEvent(event)"><i class="material-icons-outlined">bookmark_border</i></button>
                  </ng-template>
                  <button class="attend-button" mat-icon-button *ngIf="userService.isAttendingEvent(event.id); else notGoing" (click)="userHttpService.deleteAttendingEvent(event.id)">
                    <i class="fas fa-lg fa-calendar-check calendar"></i>
                  </button>
                  <ng-template #notGoing>
                    <button class="attend-button" mat-icon-button (click)="userHttpService.addAttendingEvent(event)">
                      <i class="far fa-lg fa-calendar-check calendar"></i>
                    </button>
                  </ng-template>
              </div>  
          </div>
          <br>
          <div fxLayout="row"> 
            <h3>{{ event.dateView }}</h3>
            <span style="flex: 1 1 auto;"></span>
            <h3>{{ event.time }}</h3>
          </div>
          <div fxLayout="row">
            <h4>{{ event.dayOfWeek }}</h4>
          </div>
          <a [routerLink]="['mekanlar', event.venue.id]"><h4>{{ event.venue.name }}</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxLayoutAlign="start center">
          <h5>Daha fazla etkinlik</h5>
          <button id="loadMore" (click)="onLoadMore()" mat-icon-button><i class="fa fa-2x fa-angle-double-down"></i></button>
      </div>
    </div>
  </div>
  <span fxFlex="5" fxFlex.gt-xs="15" fxFlex.gt-lg="25"></span>
</div>
<br>