#monthRow {
  margin-top: 3rem;
  min-height: 5rem;
}

h1 {
  color: #c1c1c1;
  margin: 0;
}

mat-card {
  
  background-color: #19191a;
}

.day-card{
  width: 10rem;
  height: 10rem;
  background-color: #323232;
  margin-right: 1rem;
}

p {
  color: whitesmoke;
}

#eventRow {
  margin-bottom: 2rem;
}

#headerRow {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

i { 
  color: #c1c1c1;
}

#loadMore {
  background-color: #19191a;
}

h5 {
  color: #c1c1c1;
}

a {
  text-decoration: none;
  color: #c1c1c1;
}

mat-icon {
  color: #ee2b84;
}

i {
  color: #ee2b84;
}

#filterRow {
  margin-bottom: 1rem;
}

#filterBtn {
  background-color: #19191a;
  font-size: large;
  max-height: 3rem;
}