<div fxLayout="row" fxLayoutAlign="center start">
  <span fxFlex="15" fxFlex.gt-md="25"></span>
  <div fxFlex="70" fxFlex.gt-md="50" fxLayout="column">
    <h1 class="mat-h1">{{ editMode ? 'Etkinlik Düzenleme' : 'Yeni Etkinlik Ekle' }}</h1>
    <form (ngSubmit)="onSave()" [formGroup]="form">
      <mat-form-field fxFlexFill>
        <input 
          type="text"
          matInput
          id="name"
          formControlName="name"
          placeholder="Etkinlik Adı">
        <mat-error *ngIf="form.hasError('required', 'name')">* Etkinlik ismi gerekli</mat-error>
        <mat-error *ngIf="form.hasError('maxLength', 'name')">* Etkinlik ismi çok uzun</mat-error>
      </mat-form-field>
      <br>
      <div fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Başlangıç Tarihi"
            formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [panelClass]="dino-class" #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerEnd"
            placeholder="Bitiş Tarihi"
            formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker [panelClass]="dino-class" #pickerEnd></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="10">
          <mat-select formControlName="hour" placeholder="Saat">
            <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="10">
          <mat-select formControlName="minute" placeholder="Dakika">
            <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field fxFlexFill>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let artist of artists"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeArtist(artist)">
            {{ artist.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Sanatçılar"
            #artistInput
            [formControl]="artistCtrl"
            [matAutocomplete]="autoArtist"
            [matChipInputFor]="chipList">
        </mat-chip-list>
        <mat-autocomplete #autoArtist="matAutocomplete" (optionSelected)="selected($event , 'artist')">
          <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">
            {{ artist.name }}
          </mat-option>
        </mat-autocomplete>  
      </mat-form-field>
      <br>
      <mat-form-field fxFlexFill>
        <mat-chip-list #venueChip>
          <mat-chip
            *ngFor="let venue of venues"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeVenue(venue)">
            {{ venue.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input 
          type="text"
          placeholder="Mekan"
          matInput
          [disabled]="venueSelected()"
          [formControl]="venueCtrl"
          [matAutocomplete]="autoVenue"
          [matChipInputFor]="venueChip">
        <mat-autocomplete #autoVenue="matAutocomplete" (optionSelected)="selected($event, 'venue')">
          <mat-option *ngFor="let venue of filteredVenues | async" [value]="venue">
            {{ venue.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field>
          <input 
            type="text"
            placeholder="Spotify Link"
            matInput
            formControlName="spotifyLink">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input 
          type="text"
          placeholder="Web Link"
          matInput
          formControlName="webLink">  
        </mat-form-field>
      </div>
      <mat-form-field fxFlexFill>
        <mat-chip-list #genreChips>
          <mat-chip
            *ngFor="let genre of genres"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeGenre(genre)">
            {{ genre.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input 
            placeholder="Genre"
            #genreInput
            [formControl]="genreCtrl"
            [matAutocomplete]="autoGenre"
            [matChipInputFor]="genreChips">
        </mat-chip-list>
        <mat-autocomplete #autoGenre="matAutocomplete" (optionSelected)="selected($event, 'genre')">
          <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
            {{ genre.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="2rem">
        <input type="file" id="image" accept="image/*" (change)="changeListener($event)">
        <mat-checkbox [(ngModel)]="useArtistImage" [ngModelOptions]="{standalone: true}" [disabled]="isMultiArtistEvent()">Sanatçının Resmini Kullan</mat-checkbox>
      </div>
      <img [src]="this.image.dataUrl" alt="Görsel">
      <div fxLayout="row" fxLayoutGap="3rem">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Kaydet</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Vazgeç</button>
      </div>
    </form>
  </div>
  <span fxFlex="15" fxFlex.gt-md="25"></span>
</div>