#mainCol {
    margin-top: 2rem;
}

mat-form-field {
    margin-top: 0.8rem;
}

mat-expansion-panel {
  background-color: #19191a;
  width: fit-content;
}

#btnNewArtist {
    height: fit-content;
}

.accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
}

mat-panel-description {
    align-items: flex-end;
}

#btnRow {
    margin-top: 2rem;
    margin-bottom: 2rem;
}